.centerTxt {
  text-align: center;
}

.profileContainer {
  display: flex;
  justify-content: center;
}

.profileImage {
  width: 350px;
  height: 350px;
  border-radius: 50%;
}

.header {
  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}
